@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@font-face {
    font-family: 'Bellefair';
    src: url(../assets/fonts/Bellefair-Regular.ttf);
}

$font-Barlow: 'Barlow Condensed', sans-serif;
$home-p-color: #D0D6F9;
$space-explore-font: 'Bellefair';

@mixin defLink($color) {
    color: $color;
    text-decoration: none;
}
header{
    color:white;
    display:flex;
    width:auto;
    margin-left:4vw;
    align-items: center;
    height:11vh;
    margin-top:4vh;
    backdrop-filter: blur(2vw);
    .logo img{
        height:3vw;
        width:3vw;
    }
    .line{
        width:33vw;
        background-color:rgba(255,255,255,.25);
        height:1px;
        margin-left:4vw;
        margin-right:6vw;
    }
    .burger-menu{
        display:none;
    }
    .nav-ul{
        display:flex;
        list-style: none;
        justify-content: space-between;
        width:38vw;
        li{
            a{
                // font-size:16px;
                font-size:1.2vw;
                font-family: $font-Barlow;
                text-transform: uppercase;
                // letter-spacing:2.7px;
                letter-spacing: .15vw;
                padding:3.5vh 0;
                position:relative;
                @include defLink(white);
                border-bottom: solid 3px transparent;
                span{
                    margin-right:.5vw;
                }
                &.active{
                    border-bottom: solid 3px white;
                }
                .nums{
                    font-weight: bold;
                }
                &:not(.active)::before{
                    content:"";
                    position: absolute;
                    background-color:rgba(255,255,255,.5);
                    width:0px;
                    // height:3px;
                    height:.2vw;
                    bottom:-.2vw;
                }
                &:not(.active):hover::before{
                    width:100%;
                    transition: .5s;
                }
            }
        }
    }
}
@media only screen and (max-width:1024px){
    body{
        overflow-x:hidden;
    }
    header{ 
        width:100%;
        .logo img{
            height:48px;
            width:48px;
        }
        span{
            display:none;
        }
        .nav-ul{
            justify-content: space-between !important;
            width: 40vw !important;
            li{
                a{
                    font-size:16px !important;
                    letter-spacing: 2.4px !important;
                }
            }
        }
    }
}
// Tablet
@media only screen and (max-width:768px){
    header{
        margin-left: 5vw;
        margin-top:0;
        backdrop-filter:unset;
        width:95vw;
        .logo{
            img{
                width:6vw;
                height:6vw;
            }
        }
        .line{
            display:none;
        }
        .nav-ul{
            margin-left:90px;
            width:60vw !important;
            li{
                a{
                    &::before{
                        display:none;
                    }
                    font-size:14px;
                    letter-spacing: 2.3px;
                    span{
                        display:none;
                    }
                }
            }
        }
    }
}

// Mobile
@media only screen and (max-width:480px){
    header{
        justify-content: space-between;
        position: relative !important;
        width:auto;
        margin-top:4vh;
        .logo{
            img{
                height:40px;
                width:40px;
            }
        }
        .burger-menu{
            display:flex;
            z-index:3;
            position: absolute;
            right: 6vw;
        }
        .nav-ul{
            display:none;
            margin-top:50%;
            &.show{
                display:flex;
                flex-direction: column;
                justify-content: unset !important;
                backdrop-filter: blur(25px);
                padding:40% 0 20% 20%;
                position:relative;
                border:transparent;
                border-radius:20px;
                z-index:2;
                // min-height:100vh;
                width:70vw !important;
            }
            li{
                margin: 16px 0px;
            }
            a{
                font-size:16px !important;
                letter-spacing: 2.7px !important;
                padding:1px !important;
                span{
                    display:inline !important;
                }
            }
            a.active{
                border-bottom:none !important;
            }
        }
    }
}
